<template lang="pug">
    .t-autocomplete(
        :class="{ 'active': active, 'search': !!search}")
        t-search(
            :placeholder="placeholder"
            :search="search"
            ref="search"
            @submit="$emit('submit', search)"
            @active="onActive($event)"
            @update:search="onChange($event)")
        .t-autocomplete-content(
            v-if="active && search")
            .t-autocomplete-item(
                v-for="item in filteredItems"
                @click="$emit('click', item)"
                :class="{'active': item === selectedItem}"
                :key="item.to")
                    span {{ item }}
</template>

<script>
export default {
    props: ['search', 'placeholder', 'items'],

    data() {
        return {
            active: false,
            selectedItem: undefined,
            selectedItemIndex: -1
        }
    },

    watch: {

        active(active) {
            if (active) document.addEventListener('keydown', this.onKeyDown)
            else document.removeEventListener('keydown', this.onKeyDown)
        },

        search() {
            this.selectedItemIndex = -1
            this.selectedItem = undefined
        }

    },

    beforeDestroy() {

        document.removeEventListener('keydown', this.onKeyDown)

    },

    computed: {

        filteredItems() {
            return this.items.filter((item) => item.title.toLowerCase().includes(this.search.toLowerCase()))
        }

    },

    methods: {

        onChange(event) {
            this.$emit('update:search', event)
        },

        onActive(state) {
            setTimeout(() => {
                this.active = state
            }, 10)
        },

        close() {
            this.$refs.search.$refs.searchInput.blur()
        },

        up() {
            if (this.selectedItemIndex > 0) this.selectedItemIndex--
            else this.selectedItemIndex = -1
            this.selectedItem = this.filteredItems[this.selectedItemIndex]
        },

        down() {
            this.selectedItemIndex++
            if (this.selectedItemIndex === this.filteredItems.length) this.selectedItemIndex = 0
            this.selectedItem = this.filteredItems[this.selectedItemIndex]
        },

        clickSelected() {
            if(this.selectedItem) this.$emit('click', this.selectedItem)
            else if (this.filteredItems.length > 0)this.$emit('click', this.filteredItems[0])
        },

        onKeyDown(event) {
            if (event.keyCode === 38) {
                this.up()
                event.preventDefault()
            }
            if (event.keyCode === 40) {
                this.down()
                event.preventDefault()
            }
            if (event.keyCode === 13) this.clickSelected()
        }

    },
}
</script>


<style scoped>
.t-autocomplete {
    max-width: 720px;
    margin: auto;
}
.t-autocomplete-content {
    display: block;
    width: 100%;
    min-height: 10px;
    background-color: #ffffff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: 1px #d9d9d9 solid;

}
.t-autocomplete.active {
    border-radius: 8px;
}
.t-autocomplete.active {
    -webkit-box-shadow: 0 1px 1px 0 rgba(65,69,73,0.3), 0 1px 3px 1px rgba(65,69,73,0.15);
    box-shadow: 0 1px 1px 0 rgba(65,69,73,0.3), 0 1px 3px 1px rgba(65,69,73,0.15);
}

.t-autocomplete-item.active {
    background-color: red;
}
</style>

<style>
.t-autocomplete.active.search form.searchbar {
    border-bottom-left-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
}
.t-autocomplete form.searchbar {
    -webkit-box-shadow: 0 1px 1px 0 rgba(65,69,73,0), 0 1px 3px 1px rgba(65,69,73,0)!important;
    box-shadow: 0 1px 1px 0 rgba(65,69,73,0), 0 1px 3px 1px rgba(65,69,73,0)!important;
}
</style>
