<template lang="pug">
    .t-btn
        t-tooltip(v-if="tooltip" :label="tooltip" :transform="transform")
            button(
                type="button"
                @click="$emit('click')"
                :class="{ 'small': small, 'big': big, 'outline': outline }"
                v-if="icon").icon
                t-icon
                    slot
            button(
                type="button"
                @click="$emit('click')"
                :class="{ 'small': small, 'big': big, 'outline': outline }"
                v-else-if="svg").icon.svg
                slot
            button(
                type="button"
                @click="$emit('click')"
                :class="{ 'outline': outline }"
                v-else).button
                slot
        template(v-else)
            button(
                type="button"
                @click="$emit('click')"
                :class="{ 'small': small, 'big': big, 'outline': outline }"
                v-if="icon").icon
                t-icon
                    slot
            button(
                type="button"
                @click="$emit('click')"
                :class="{ 'small': small, 'big': big, 'outline': outline }"
                v-else-if="svg").icon.svg
                slot
            button(
                type="button"
                @click="$emit('click')"
                :class="{ 'outline': outline }"
                v-else).button
                slot
</template>

<script>
export default {
    
    props: {
        
        icon: {
            type: Boolean,
            required: false,
            default: false
        },
        svg: {
            type: Boolean,
            required: false,
            default: false
        },
        small: {
            type: Boolean,
            required: false,
            default: false
        },
        big: {
            type: Boolean,
            required: false,
            default: false
        },
        outline: {
            type: Boolean,
            required: false,
            default: false
        },
        tooltip: {
            type: String,
            required: false,
            default: null
        },
        transform: {
            type: String,
            required: false,
        }

    },

}
</script>

<style scoped>
.t-btn {
    display: flex;
    align-items: center;
}
button {
    border: unset;
    cursor: pointer;
    background-color: transparent;
    outline: unset;
}
button.button {
    background-color: #188038;
    color: #ffffff;
    min-width: 84px;
    padding: 10px 24px 10px 24px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Product Sans';
    text-transform: uppercase;
    user-select: none;
}
button.button:hover:not(.outline) {
    background-color: #2a8947;
}
button.button:active:not(.outline) {
    background-color: #4f9e67;
}
button.button.outline:hover {
    background-color: rgba(162, 245, 187, 0.1);
}
button.button.outline:active {
    background-color: rgba(162, 245, 187, 0.2);
}
button.icon {
    width: 48px;
    height: 48px;
    padding: 12px;
    border-radius: 50%;
    margin: 0 4px;
}
button.icon.small {
    width: 40px;
    height: 40px;
    padding: 8px;
}
button.icon.big {
    width: 56px;
    height: 56px;
    padding: 0px;
    margin: 0px;
}
button.icon:hover {
    background-color: rgba(60, 64, 67, 0.08);
}
button.icon:active, .t-table .active button.icon {
    background-color: rgba(60, 64, 67, 0.12);
}
button.outline {
    border: 1px solid #dadce0;
    background-color: unset;
    color: #188038;
}
.icon.svg {
    color: #5F6368;
    fill: currentColor;
}
</style>

<style>
button.icon.big i {
    font-size: 42px;
}
button.icon.big .t-icon {
    width: 42px;
    height: 42px;
    margin: auto;
}
</style>
