<template lang="pug">
    .t-card-buttons
        slot
</template>

<style scoped>
.t-card-buttons {
    padding: 8px 24px 24px 24px;
    display: flex;
    justify-content: flex-end;
}
</style>
<style>
.t-card-buttons .t-btn {
    margin-left: 12px;
}
</style>