<template lang="pug">
    .t-checkbox
        .t-checkbox-contianer
            .container
                input(
                    type="checkbox"
                    :checked="value"
                    @click="onClick"
                )
                .checkmark(
                    :class="{ 'indeterminate': indeterminate }"
                )
                    .box
        .t-checkbox-label(
            v-if="label"
            @click="onClick"
            ) {{label}}
</template>

<script>
export default {
    props: {

        value: {
            type: Boolean,
            required: false,
            default: false
        },

        indeterminate: {
            type: Boolean,
            required: false,
            default: false
        },

        label: {
            type: String,
            required: false,
            default: undefined
        }
    },

    methods: {
        onClick(event) {
            this.$emit('update:value', !this.value)
        }
    }
}
</script>

<style scoped>
.t-checkbox {
    display: flex;
    align-items: center;
}
.t-checkbox-label {
    padding-left: 10px;
    color: #5f6368;
    cursor: pointer;
}
.t-checkbox-container {
    width: 40px;
    height: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
}
/* The container */
.container {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    cursor: pointer;
    height: 40px;
    width: 40px;
    z-index: 1;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
    align-items: center;
    justify-content: center;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: rgba(162, 245, 187, 0.1);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark .box {
    background-color: #188038;
    background-clip: padding-box;
    border-color: #188038;
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:not(.indeterminate):after {
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.container .checkmark.indeterminate:after {
  width: 10px;
  height: 2px;
  background-color: white;
  border-radius: 2px;
}
.box {
    position: absolute;
    width: 18px;
    height: 18px;
    border: 2px rgba(0, 0, 0, 0.4) solid;
    border-radius: 2px;
}
</style>