<template lang="pug">
    .t-dialog(v-if="value" :class="{ 'closing': closing }")
        .t-dialog-overlay(@click="close")
        .t-dialog-mondal(:class="{ 'closable-animation': closableAnimation }")
            slot
</template>

<script>
export default {
    
    props: {
        value: Boolean,
        closable: {
            type: Boolean,
            required: false,
            default: false
        }
    },

    mounted() {
        document.addEventListener('keyup', this.onEscape)
    },

    watch: {

        value(value) {
            if (value) {
                document.addEventListener('keyup', this.onEscape)
                this.closing = false
            }
            else document.removeEventListener('keyup', this.onEscape)
        }

    },

    data() {
        return {
            closableAnimation: false,
            closing: false
        }
    },

    methods: {

        close() {
            if(this.closable) {
                this.closing = true
                this.$emit('update:value', false)
                /*setTimeout(() => {
                    this.$emit('update:value', false)
                }, 200)*/
            }
            else {
                this.closableAnimation = true
                setTimeout(() => this.closableAnimation = false, 100)
            }
        },

        onEscape(event) {
            if (event.keyCode === 27) this.close()
        }

    }

}
</script>


<style scoped>
.t-dialog {
    transition: opacity 200ms;
}
.t-dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #212121;
    opacity: .45;
    z-index: 300;
    animation: 350ms appearOverlay;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 200ms;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.t-dialog-mondal {
    width: 720px;
    max-width: 100%;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 400;
    animation: 250ms appear;
}
@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes appearOverlay {
    0% {opacity: 0;}
    30% {opacity: 0;}
    100% {opacity: .45;}
}
.closing {
    opacity: 0;
}
</style>
<style>
.t-dialog-mondal .t-card {
    transition: transform 100ms;
}
.t-dialog-mondal.closable-animation .t-card {
    transform: scale(1.02)
}
</style>
