<template lang="pug">
    .t-foto-kiosk
        img(:src="imgLeftExtra" ref="imgLeftExtra").t-foto-kiosk-imgLeftExtra
        img(:src="imgLeft" @click="clickLeft()" ref="imgLeft").t-foto-kiosk-imgLeft
        img(:src="imgCenter" ref="imgCenter")
        img(:src="imgRight" @click="clickRight()" ref="imgRight").t-foto-kiosk-imgRight
        img(:src="imgRightExtra" ref="imgRightExtra").t-foto-kiosk-imgRightExtra
</template>

<script>
export default {

    props: {

        images: {
            type: Array,
            required: true,
        }

    },

    data() {
        return {
            img0: 0,
            img1: 1,
            img2: 2,
            img3: 3,
            img4: 4,
            clicked: false
        }
    },

    mounted() {
        setInterval(() => this.autoClick(), 5000)
    },
    
    computed: {

        imgLeft() {
            return this.images[this.img1]
        },

        imgLeftExtra() {
            return this.images[this.img0]
        },

        imgCenter() {
            return this.images[this.img2]
        },

        imgRight() {
            return this.images[this.img3]
        },

        imgRightExtra() {
            return this.images[this.img4]
        },

    },

    methods: {

        clickLeft() {

            this.gotoLeftImg()
            this.clicked = true
            setTimeout(() => {
                this.clicked = false
            }, 5000)

        },

        clickRight() {

            this.gotoRightImg()
            this.clicked = true
            setTimeout(() => {
                this.clicked = false
            }, 5000)

        },

        autoClick() {

            if (this.clicked === false
                && this.$refs.imgRight
                && this.$refs.imgRightExtra
                && this.$refs.imgLeft
                && this.$refs.imgLeftExtra) this.gotoRightImg()

        },

        gotoLeftImg() {
            
            this.$refs.imgRight.style.transform = 'scale(0) translate(100%)'
            this.$refs.imgRight.style.opacity = 0
            this.$refs.imgRight.style.zIndex = "1"
            this.$refs.imgRight.style.transition = 'all 1s'

            this.$refs.imgCenter.style.transform = 'scale(0.8) translate(calc(50% + 100px))'
            this.$refs.imgCenter.style.opacity = 0.5
            this.$refs.imgCenter.style.zIndex = "1"
            this.$refs.imgCenter.style.transition = 'all 1s'


            this.$refs.imgLeft.style.transform = 'none'
            this.$refs.imgLeft.style.opacity = 1
            this.$refs.imgLeft.style.zIndex = "5"
            this.$refs.imgLeft.style.transition = 'all 1s'

            this.$refs.imgLeftExtra.style.transform = 'scale(0.8) translate(calc(-50% - 100px))'
            this.$refs.imgLeftExtra.style.transition = 'all 1s'

            this.$refs.imgRightExtra.style.opacity = 0
            this.$refs.imgLeftExtra.style.opacity = 0.5

            setTimeout(() => {
                this.gotoLeft()
            }, 1000)

        },

        gotoRightImg() {

            this.$refs.imgLeft.style.transform = 'scale(0) translate(-100%)'
            this.$refs.imgLeft.style.opacity = 0
            this.$refs.imgLeft.style.zIndex = "1"
            this.$refs.imgLeft.style.transition = 'all 1s'

            this.$refs.imgCenter.style.transform = 'scale(0.8) translate(calc(-50% - 100px))'
            this.$refs.imgCenter.style.opacity = 0.5
            this.$refs.imgCenter.style.zIndex = "1"
            this.$refs.imgCenter.style.transition = 'all 1s'


            this.$refs.imgRight.style.transform = 'none'
            this.$refs.imgRight.style.opacity = 1
            this.$refs.imgRight.style.zIndex = "5"
            this.$refs.imgRight.style.transition = 'all 1s'

            this.$refs.imgRightExtra.style.transform = 'scale(0.8) translate(calc(50% + 100px))'
            this.$refs.imgRightExtra.style.transition = 'all 1s'
            
            this.$refs.imgRightExtra.style.opacity = 0.5
            this.$refs.imgLeftExtra.style.opacity = 0


            setTimeout(() => {
                this.gotoRight()
            }, 1000)

        },

        gotoLeft() {

            this.img0--
            this.img1--
            this.img2--
            this.img3--
            this.img4--

            if(this.img0 < 0) this.img0 = this.images.length-1
            if(this.img1 < 0) this.img1 = this.images.length-1
            if(this.img2 < 0) this.img2 = this.images.length-1
            if(this.img3 < 0) this.img3 = this.images.length-1
            if(this.img4 < 0) this.img4 = this.images.length-1

            this.resetStyles()
            

        },

        gotoRight() {

            this.img0++
            this.img1++
            this.img2++
            this.img3++
            this.img4++

            if(this.img0 > this.images.length-1) this.img0 = 0
            if(this.img1 > this.images.length-1) this.img1 = 0
            if(this.img2 > this.images.length-1) this.img2 = 0
            if(this.img3 > this.images.length-1) this.img3 = 0
            if(this.img4 > this.images.length-1) this.img4 = 0

            this.resetStyles()


        },

        resetStyles() {
            if (this.$refs.imgRight
                && this.$refs.imgRightExtra
                && this.$refs.imgLeft
                && this.$refs.imgLeftExtra) {
                this.$refs.imgLeft.style.transform = 'scale(0.8) translate(calc(-50% - 100px))'
                this.$refs.imgLeft.style.opacity = 0.5
                this.$refs.imgLeft.style.zIndex = "1"
                this.$refs.imgLeft.style.transition = 'none'

                this.$refs.imgCenter.style.transform = 'none'
                this.$refs.imgCenter.style.opacity = 1
                this.$refs.imgCenter.style.zIndex = "5"
                this.$refs.imgCenter.style.transition = 'none'

                this.$refs.imgRight.style.transform = 'scale(0.8) translate(calc(50% + 100px))'
                this.$refs.imgRight.style.opacity = 0.5
                this.$refs.imgRight.style.zIndex = "1"
                this.$refs.imgRight.style.transition = 'none'

                this.$refs.imgLeftExtra.style.transform = 'scale(0.8)'
                this.$refs.imgLeftExtra.style.transition = 'none'
                this.$refs.imgLeftExtra.style.opacity = 0

                this.$refs.imgRightExtra.style.transform = 'scale(0.8)'
                this.$refs.imgRightExtra.style.transition = 'none'
                this.$refs.imgRightExtra.style.opacity = 0
            }
        }

    }
    
}
</script>

<style scoped>
.t-foto-kiosk {
    display: contents;
}
img {
    height: 200px;
    position: absolute;
    z-index: 5;
    transition: all 1s;
    border-radius: 5px;
}
img.t-foto-kiosk-imgLeft {
    position: absolute;
    transform: scale(0.8) translate(calc(-50% - 100px));
    z-index: 1;
    opacity: 0.5;
    cursor: pointer;
    transition: all 1s;
}
img.t-foto-kiosk-imgLeftExtra {
    position: absolute;
    transform: scale(0.8);
    z-index: 1;
    opacity: 0;
    transition: all 1s;
}
img.t-foto-kiosk-imgRight {
    position: absolute;
    transform: scale(0.8) translate(calc(50% + 100px));
    z-index: 1;
    opacity: 0.5;
    cursor: pointer;
    transition: all 1s;
}
img.t-foto-kiosk-imgRightExtra {
    position: absolute;
    transform: scale(0.8);
    z-index: 1;
    opacity: 0;
    transition: all 1s;
}
</style>
