<template lang="pug">
    .t-icon
        i.material-icons-round
            slot
</template>

<style scoped>
.t-icon {
    height: 24px;
    width: 24px;
}
.t-icon i {
    color: #5F6368;
}
</style>
