<template lang="pug">
    .t-list-item-title
        slot
</template>

<style scoped>
.t-sidebar .t-list-item-title {
    margin: 0 16px;
    color: #3c4043;
    font-size: 14px;
    font-weight: 500;
}
.t-list-item-title {
    color: #202124;
    font-size: 14px;
    font-weight: 500;
    margin: 0 16px;
    font-family: 'Product Sans Medium'
}
</style>
