<template lang="pug">
    .t-list-item(
        @click="click($event)"
        @contextmenu="$emit('contextmenu', $event)"
        :class="{ 'active': to && $route.path.includes(to) }")
        slot
</template>

<script>
export default {
    
    props: ['to'],

    methods: {

        click(event) {
            if(this.to) this.$router.push({ path: this.to }, undefined, () => {})
            this.$emit('click', event)
        }

    }

}
</script>


<style scoped>
.t-sidebar .t-list-item {
    margin: unset;
    padding: unset;
    padding-left: 24px;
    margin-right: 8px;
    height: 40px;
    border-radius: unset;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.t-list-item {
    display: flex;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
    align-items: center;
    user-select: none;
    transition: background-color 100ms;
}
.t-list-item .t-btn {
    padding: 5px 1px;
}
.t-sidebar .t-list-item .t-list-item-avatar {
    width: unset;
    height: unset;
    display: unset;
}
.t-list-item .t-list-item-avatar {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.t-sidebar .t-list-item:not(.active):hover {
    background-color: #f1f3f4;
}
.t-list-item:hover {
    background-color: #e6f4ea;
}
.t-list-item.active {
    background-color: #e6f4ea;
}
</style>
