<template lang="pug">
    .t-search
        form(
            autocomplete="off"
            onsubmit="return false"
            :class="{ 'active': active }"
            @submit="submit"
        ).searchbar.noselection
            t-btn(
                :tooltip="placeholder"
                @click="submit"
                small
                icon) search
            input(
                type="text"
                ref="searchInput"
                autocomplete="off"
                :placeholder="placeholder"
                :value="search"
                @focus="onActiveChange(true)"
                @blur="onActiveChange(false)"
                @keyup="onChange($event)"
                @click="select()"
            )
            t-btn(
                tooltip="Clear"
                @click="clear"
                small
                v-if="search" icon) close
</template>

<script>
export default {

    props: ['search', 'placeholder'],

    data() {
        return {
            active: false
        }
    },

    watch: {

        active(active) {
            if (active) document.addEventListener('keydown', this.onKeyDown)
            else document.removeEventListener('keydown', this.onKeyDown)
        },

    },

    beforeDestroy() {

        document.removeEventListener('keydown', this.onKeyDown)

    },

    methods: {

        onChange(event) {
            this.$emit('update:search', event.target.value)
        },

        onActiveChange(state) {
            this.$emit('active', state)
            this.active = state
        },

        submit() {
            this.$refs.searchInput.blur()
            this.active = false
            this.$emit('submit', this.search)
        },

        select() {
            this.$refs.searchInput.select()
        },

        clear() {
            this.$emit('update:search', '')
        },

        onKeyDown(event) {
            if (event.keyCode === 27) this.$refs.searchInput.blur()
        }

    }

}
</script>


<style>
.t-search {
    max-width: 720px;
    display: flex;
    height: 48px;
    margin: auto;
    min-width: 200px;
}
form.searchbar {
    background-color: #F1F3F4;
    border: unset;
    width: 100%;
    outline: unset;
    border-radius: 8px;
    display: flex;
    transition: background-color, box-shadow 200ms;
}
form.searchbar.active {
    -webkit-box-shadow: 0 1px 1px 0 rgba(65,69,73,0.3), 0 1px 3px 1px rgba(65,69,73,0.15);
    box-shadow: 0 1px 1px 0 rgba(65,69,73,0.3), 0 1px 3px 1px rgba(65,69,73,0.15);
    background-color: #ffffff;
}
input[type="text"] {
    background-color: transparent;
    border: unset;
    outline: unset;
    width: 100%;
    font-size: 16px;
    font-family: 'Product Sans'
}
</style>
