<template lang="pug">
    transition(name="slide")
        .t-sidebar(v-show="value" :class="{ 'active': value }")
            slot
</template>

<script>
export default {
    
    props: ['value'],

    mounted() {

        document.addEventListener('mousedown', this.onMouseDown)

    },

    beforeDestroy() {

        document.removeEventListener('mousedown', this.onMouseDown)

    },

    methods: {

        onMouseDown(event) {
            if(event.path) {
                if(!event.path.find(element => element.className === 't-sidebar active')) {
                
                    this.$emit('update:value', false)
                }
            } else {
                if(event.target.className !== 't-sidebar active') {
                
                    this.$emit('update:value', false)
                }
            }
            
        }

    }

}
</script>


<style scoped>
.t-sidebar {
    width: 280px;
    height: 100%;
    top: 0px;
    left: 0px;
    box-shadow: 0 0 16px rgba(0,0,0,.28);
    position: fixed;
    background-color: #ffffff;
}
.slide-enter-active {
    transform: translateX(-100%)
}
.slide-enter-active, .slide-leave-active {

  transition: transform 200ms;
}
.slide-leave-to {
  transform: translateX(-100%);
}
.slide-enter-to {
  transform: translateX(0%);
}
</style>
