<template lang="pug">
    .t-table
        t-list.table
            t-list-item(
                v-for="item in orderedItems"
                :ref="item.name"
                @contextmenu="rightClick($event, item)"
                @click="click($event, item)"
                :key="item.name")
                t-list-item-avatar {{ item.icon }}
                t-list-item-title {{ item.label }}
                    span(style="font-family:'Product Sans Light';")  {{ extraLabel(item.name.split('-')[0]) }}
                .spacer
                t-btn(
                    tooltip="More"
                    icon
                    @click="openMore(item)"
                    :class="{ 'active': item.name == activeItem }"
                    small).more-button more_vert
        .more(v-if="more" :style="{ 'top': offsetTop + 'px', 'right': offsetRight + 25 + 'px' }")
            t-list
                t-list-item
                    t-list-item-avatar open_in_new
                    t-list-item-title Open in new tab
</template>

<script>
export default {
    
    props: ['items'],

    data() {
        return {
            more: false,
            offsetTop: 0,
            activeItem: null,
            offsetRight: 0,
        }
    },

    mounted() {

        document.addEventListener('mousedown', this.onMouseDown)

    },

    beforeDestroy() {

        document.removeEventListener('mousedown', this.onMouseDown)


    },

    computed: {

        orderedItems() {
            return this.items.sort((a, b) => {
                if(a.name > b.name) return -1
                if(a.name < b.name) return 1
                return 0
            })
        },

    },

    methods: {

        openMore(item) {
            if(this.offsetTop == this.$refs[item.name][0].$el.offsetTop) this.more = !this.more
            else this.more = true
            this.activeItem = item.name
            this.offsetTop = this.$refs[item.name][0].$el.offsetTop
            this.offsetRight = 0
        },

        closeMore() {
            this.more = false
            this.activeItem = null
            this.offsetTop = 0
        },

        onMouseDown(event) {
            if(!event.path.find(element => element.className === 't-btn more-button active')
                && !event.path.find(element => element.className === 'more')) {
                this.closeMore()
            }
        },

        rightClick(event, item) {
            
            if(event.button != 2
            || !event.path.find(element => element.className === 't-list table')) return
            event.preventDefault()
            this.activeItem = item.name
            this.more = true
            this.offsetTop = Math.round(event.target.offsetTop / 50)*50 - 20
            this.offsetRight = event.path.find(element => element.className === 't-list-item').offsetWidth - event.offsetX
            if(event.target.innerText == 'more_vert') this.offsetRight = 0
            if(this.offsetRight < 25) this.offsetRight = 0
        },

        extraLabel(year) {
            if(year != new Date().getFullYear()) return year
            return null
        },

        click(event, item) {
            if(event.target.className != 'material-icons-round'
                && event.target.className != 'icon small') this.$emit('click-item', item)
        }

    }

}
</script>

<style>
.more {
    box-shadow: rgba(255,255,255,.9) 0px 1px 0px inset, rgba(0,0,0,.03) 0px -1px 0px inset, rgba(0,0,0,.2) 0px 1px 3px;
    border-radius: 4px;
    padding: 4px 0px;
    background-color: #ffffff;
    min-width: 185px;
    min-height: 50px;
    right: 25px;
    top: 0px;
    transform: translate(50%, 100%);
    position: absolute;
}
.more .t-list .t-list-item {
    height: 40px;
    border-radius: unset;
    margin: unset;
    font-family: unset;
}
.more .t-list .t-list-item:hover {
    background-color: #f1f3f4;
}
</style>
