<template lang="pug">
    .t-tooltip
        .tooltip
            slot
            .tooltiptext(:style="{ 'min-width': minWidth, 'transform': transform, 'text-align': textAlign }" v-html="label")
</template>

<script>
export default {
    
    props: {

        label: {
            type: String,
            required: true
        },

        minWidth: {
            type: String,
            required: false,
            default: 'calc(100% - 10px)'
        },

        transform: {
            type: String,
            required: false,
            default: 'translateX(-50%)'
        },

        textAlign: {
            type: String,
            required: false,
            default: 'center'
        }

    }

}
</script>

<style scoped>
.t-tooltip {
    display: flex;
    align-items: center;
}
.tooltip {
  position: relative;
  display: flex;
  align-items: auto;
}

.tooltip .tooltiptext {
  opacity: 0;
  visibility: hidden;

  white-space: pre;

  background-color: #4E5251;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  font-size: 14px;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  
  transform: translateX(-50%);

  transition: opacity 0ms;
  transition-delay: 1s;
}
.tooltip:hover .tooltiptext {
  opacity: 1;
  visibility: visible;
}
</style>