<template lang="pug">
    .set
        .wrapper
            img(:src="set.set_img_url").set_img
            .container
                h1.my-3 Needed Parts
                .spacer
                t-search(
                    :placeholder="$t('common.search')"
                    v-late-focus
                    :search.sync="search")
            t-datatable(
                :headers="headers"
                :items="partsNeeded.filter(part => JSON.stringify(part).toLowerCase().includes(search.toLowerCase()))"
                @click="onClick"
            )
            add-part-dialog(
                v-if="dialog.addPart"
                :value.sync="dialog.addPart"
                :part="part"
                :set_num="set_num"
            )
</template>

<script>
import AddPartDialog from '~/components/dialogs/AddPart'

export default {
    
    components: {
        AddPartDialog
    },

    computed: {

        headers() {

            return [
                {
                    value: 'img',
                    extractor(part) {
                        return `<img style="width: 47px;" src="${part.img}"/>`
                    },
                    style: {
                        paddingRight: '0'
                    },
                    width: '64px',
                    isClickable: false
                },
                {
                    text: 'Name',
                    value: 'name'
                },
                {
                    text: 'Quantity',
                    value: 'quantity',
                    right: true,
                    width: '1px'
                },
                {
                    text: 'Color',
                    value: 'color',
                    extractor(part) {
                        return part.color.name
                    },
                    width: '150px'
                },
            ]

        },

        set() {
            return this.$store.getters['sets/BY_NUM'](this.set_num)
        },

        partsNeeded() {
            console.log(this.$store.getters['sets/BY_NUM'](this.set_num))
            return this.$store.getters['sets/BY_NUM'](this.set_num).parts_needed.filter(part => {
                return (part.quantity > 0 && !part.spare)
            })
        }

    },

    data() {
        return {

            set_num: this.$route.params.setnum,
            part: {},
            dialog: {
                addPart: false
            },
            search: '',

        }
    },

    async asyncData({ app, params, store }) {

        await store.dispatch('sets/INITIALIZE')
        await store.dispatch('sets/GET_NEEDED_PARTS', params.setnum)

        console.log('asyncData')

    },

    methods: {
        
        onClick(part) {
            this.part = part
            this.dialog.addPart = true
        }

    }

}
</script>

<style>
.set_img {
    width: 100%;
    max-height: 400px;
    object-fit: contain;
}
</style>