<template lang="pug">
    .sets
        .wrapper
            .container
                h1.my-3 My Sets
                .spacer
                t-search(
                    :placeholder="$t('common.search')"
                    v-late-focus
                    :search.sync="search")
            .grid
                .set(
                    v-for="set in sets.filter(set => JSON.stringify(set).toLowerCase().includes(search.toLowerCase()))"
                    :key="set.set_num"
                    @click="$router.push({ path: `/sets/${set.set_num}` })"
                    )
                    .set-logo
                        img(
                            :src="set.set_img_url"
                        )
                    .set-title {{ set.name }}
</template>

<script>
import { mapGetters } from 'vuex'

export default {

    computed: {

        ...mapGetters({
            sets: 'sets/LIST'
        })

    },

    data() {
        return {
            search: ''
        }
    },
    
    mounted() {

        this.$store.dispatch('sets/REFRESH').then(() => {
            console.log('refresh')
        })

    }

}
</script>

<style scoped>
.set {
    border: 1px #eeeeee solid;
    flex-grow: 1;
    width: 100%;
    cursor: pointer;
}
.set-title {
    text-align: center;
}
.set-logo img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}
</style>