<template lang="pug">
    .parts
        .wrapper
            .container
                h1.my-3 Needed Parts
                .spacer
                t-search(
                    :placeholder="$t('common.search')"
                    v-late-focus
                    :search.sync="search")
            t-datatable(
                :headers="headers"
                v-if="partsNeeded"
                :items="partsNeeded.filter(part => JSON.stringify(part).toLowerCase().includes(search.toLowerCase())).slice(0, 200)"
                @click="onClick"
            )
            add-part-dialog(
                v-if="dialog.addPart"
                :value.sync="dialog.addPart"
                :part="part"
                set_num="all"
            )
</template>

<script>
import AddPartDialog from '~/components/dialogs/AddPart'

export default {
    
    components: {
        AddPartDialog
    },

    computed: {

        headers() {

            return [
                {
                    value: 'img',
                    extractor(part) {
                        return `<img style="width: 47px;" src="${part.img}"/>`
                    },
                    style: {
                        paddingRight: '0'
                    },
                    width: '64px',
                    isClickable: false
                },
                {
                    text: 'Name',
                    value: 'name'
                },
                {
                    text: 'Quantity',
                    value: 'quantity',
                    right: true,
                    width: '1px'
                },
                {
                    text: 'Color',
                    value: 'color',
                    extractor(part) {
                        return part.color.name
                    },
                    width: '150px'
                },
            ]

        },

        partsNeeded() {
            return JSON.parse(JSON.stringify(this.$store.getters['partsNeeded/LIST']))
        }

    },

    data() {
        return {

            part: {},
            dialog: {
                addPart: false
            },
            search: '',

        }
    },

    mounted() {

        this.$store.dispatch('partsNeeded/INITIALIZE').then(() => {
            console.log('test')
        })

    },

    methods: {
        
        onClick(part) {
            this.part = part
            this.dialog.addPart = true
        }

    }

}
</script>