html, body {
    font-family: 'Product Sans';
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

img {
    -webkit-transform: translate3d(0,0,1px); 
    -webkit-backface-visibility: hidden;
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
}
.noselection {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
@font-face {
    font-family: 'Product Sans';
    src: url('/fonts/ProductSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Product Sans Medium';
    src: url('/fonts/ProductSans-Medium.ttf');
}
@font-face {
    font-family: 'Product Sans Light';
    src: url('/fonts/ProductSans-Light.ttf');
}
.container {
    display: flex;
    align-items: center;
}
.container.justify-space-between {
    justify-content: space-between;
}
.spacer {
    flex-grow: 1 !important;
}
.divider {
    border-top: 1px solid #e3e3e3;
    margin: 12px 0 12px 0;
}
.vertical-divider {
    border-right: 1px solid #e3e3e3;
    margin-left: 12px;
    margin-right: 12px;
    height: 100%;
}
.wrapper {
    margin: 0 auto;
    position: relative;
    width: 684px;
    max-width: 100%;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}
@media only screen and (min-width: 1100px) {
    .wrapper {
        width: 915px;
    }
}
@media only screen and (min-width: 1400px) {
    .wrapper {
        width: 1140px;
    }
}
/*
::-webkit-scrollbar {
    width: 10px;
    margin-right: -10px;
}

::-webkit-scrollbar-track {
    margin-right: -10px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 53.3%, .4);
    margin-right: -10px;
    position: fixed;
}

::-webkit-scrollbar-thumb:hover {
    margin-right: -10px;
    background: hsla(0, 0%, 53.3%, .4); 
}
*/
h1 {
    font-weight: normal;
    font-size: 32px;
}
.my-3 {
    margin-top: 16px;
    margin-bottom: 16px;
}