<template lang="pug">
    header.container.justify-space-between
        .header-title.noselection
            t-btn(
                tooltip="Menu"
                @click="$emit('open-sidebar')"
                icon) menu
            .header-title-text(@click="$router.push({ name: 'index' }, undefined, () => {})") {{ $t('title') }}
        .header-search
            t-autocomplete(
                @submit="onSubmit($event)"
                @click="onClick($event)"
                :placeholder="$t('common.search')"
                :items="items"
                :search.sync="search")
        .header-actions
            t-btn(svg tooltip="TrikThom apps")
                svg(focusable="false" viewBox="0 0 24 24")
                    path(d="M6,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM6,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM6,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM16,6c0,1.1 0.9,2 2,2s2,-0.9 2,-2 -0.9,-2 -2,-2 -2,0.9 -2,2zM12,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2z")
            t-btn(@click="logout" icon small tooltip="Account Information" transform="translateX(calc(-100% + 24px))")
                t-icon(big v-if="false") person
                img(v-else src="https://www.trikthom.com/favicon.ico")
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    
    data() {
        return {
            search: '',
        }
    },

    computed: {

        ...mapGetters({
            sets: 'sets/LIST'
        }),

        items() {

            let items = [
                { title: this.$t('common.dashboard'), to: '/' },
                { title: this.$t('common.shop'), to: '/shop' },
                { title: this.$t('common.sets'), to: '/sets' },
                { title: this.$t('common.parts'), to: '/parts' },
                { title: this.$t('common.settings'), value: 'settings' },
                { title: this.$t('common.info'), value: 'info' },
            ]

            items = items.concat(this.sets.map(set => {
                return {
                    title: set.name,
                    to: '/sets/' + set.set_num
                }
            }))

            return items.sort()
        }

    },

    methods: {

        onSubmit(value) {
            console.log(value)
        },

        onClick(item) {
            this.search = item.title
            if (item.to) this.$router.push({ path: item.to }, undefined, () => {})
            else if (item.value) {
                if(item.value === 'settings') this.$emit('open-settings')
                if(item.value === 'info') this.$emit('open-info')
            }
        },

        logout() {
            this.$store.dispatch('auth/logout')
        }

    }

}
</script>

<style>
header {
    height: 64px;
    width: 100%;
    display: flex;
    background-color: #ffffff;
    padding: 8px;
    align-items: center;
    position: fixed;
    z-index: 100;
    border-bottom: 1px #dadce0 solid;
}
header .vertical-divider {
    height: calc(100% + 16px);
}
.header-title {
    display: flex;
    align-items: center;
    min-width: 250px;
}
.header-title-text {
    padding-left: 8px;
    color: #5F6368;
    font-size: 22px;
    cursor: pointer;
}
.header-search {
    width: 100%;
    flex: auto;
    align-self: self-start;
}
.header-actions {
    min-width: 250px;
    display: flex;
    justify-content: flex-end;
}
.header-search .t-autocomplete-item {
    cursor: pointer;
}
.header-actions img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transform: translate(-4px, -4px);
}
</style>