<template lang="pug">
    .app
        div(v-if="loaded && authenticated")
            info-dialog(:value.sync="dialog.info")
            settings-dialog(:value.sync="dialog.settings")
            Header(
                @open-sidebar="sidebar = true"
                @open-info="openInfo"
                @open-settings="openSettings"
                )
            .content
                nuxt
            Footer
            t-sidebar(:value.sync="sidebar")
                .sidebar-title
                    .header-title.noselection
                        .header-title-text {{ $t('title') }}
                .divider
                t-list
                    t-list-item(
                        @click="$router.push({ name: 'index' }, undefined, () => {}), sidebar = false")
                        t-list-item-avatar dashboard
                        t-list-item-title {{ $t('common.dashboard') }}
                .divider
                t-list
                    t-list-item(
                        v-for="link in links"
                        :key="link.to"
                        :to="link.to"
                        @click="sidebar = false")
                        t-list-item-avatar {{ link.icon }}
                        t-list-item-title  {{ link.title }}
                .divider
                t-list
                    t-list-item(
                        @click="openInfo")
                        t-list-item-avatar info
                        t-list-item-title {{ $t('common.info') }}
                    t-list-item(
                        @click="openSettings")
                        t-list-item-avatar settings
                        t-list-item-title {{ $t('common.settings') }}
        .loading(v-else) {{ authenticated ? loadingMessage : ''}}
</template>


<script>
import Header from '~/components/Header'
import Footer from '~/components/Footer'
import InfoDialog from '~/components/dialogs/Info'
import SettingsDialog from '~/components/dialogs/Settings'

export default {
    
    components: {
        Header,
        Footer,
        InfoDialog,
        SettingsDialog
    },

    computed: {

        authenticated() {
            if (process.client) {
                return this.$store.getters['auth/isAuthenticated']
            }
            return false
        },

    },

    data() {
        return {
            sidebar: false,
            dialog: {
                settings: false,
                info: false
            },
            links: [
                { title: this.$t('common.shop'), to: '/shop', icon: 'shopping_cart' },
                { title: this.$t('common.sets'), to: '/sets', icon: 'all_inbox' },
                { title: this.$t('common.parts'), to: '/parts', icon: 'extensions' },
            ],
            loaded: false,
            loadingMessage: 'Loading...'
        }
    },

    methods: {

        openSettings() {
            this.dialog.settings = true
            this.sidebar = false
        },

        openInfo() {
            this.dialog.info = true
            this.sidebar = false
        }

    },

    async created() {
        
        this.loadingMessage = 'Loading Sets...'
        await this.$store.dispatch('sets/INITIALIZE')

        this.loadingMessage = 'Loading Parts...'
        await this.$store.dispatch('parts/INITIALIZE')

        if (this.$route.name == 'sets-setnum' && this.$route.params.setnum) {
            this.loadingMessage = 'Loading Parts for Set ' + this.$route.params.setnum + '...'
            await this.$store.dispatch('sets/GET_NEEDED_PARTS', this.$route.params.setnum)
        }

        this.loaded = true

    },

}
</script>

<style>
.sidebar-title {
    height: 64px;
    padding: 8px;
    display: flex;
}
.sidebar-title .header-title-text {
    cursor: default;
}
.t-sidebar {
    position: fixed;
    z-index: 200;
}
.content {
    position: absolute;
    top: 64px;
    width: 100%;
    height: calc(100% - 64px);
    padding-bottom: 16px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.nuxt-progress {
    background-color: #188038;
}
</style>
