<template lang="pug">
    .homepage
        .banner
            t-foto-kiosk(:images="images")
        .wrapper
            
            .container
                h1.my-3 My Sets
                .spacer
                t-btn(outline @click="$router.push({name: 'sets'})") View All
            .grid
                .set(
                    v-for="set in randomSets.slice(0, 8)"
                    :key="set.set_num"
                    @click="$router.push({ path: `/sets/${set.set_num}` })"
                    )
                    .set-logo
                        img(
                            :src="set.set_img_url"
                        )
                    .set-title {{ set.name }}
            .container
                h1.my-3 My Parts
                .spacer
            t-datatable(
                :headers="headers"
                :items="parts.slice(0, 50)"
            )
</template>

<script>
import axios from 'axios'

export default {
    
    data() {
        return {
            sets: JSON.parse(JSON.stringify(this.$store.getters['sets/LIST'])),
            parts: JSON.parse(JSON.stringify(this.$store.getters['parts/LIST'])),
        }
    },

    computed: {

        randomSets() {
            console.log(this.sets)
            return this.sets.sort(function(a, b){return 0.5 - Math.random()})
        },

        images() {
            return this.randomSets.filter(set => set.set_img_url).map(set => {
                return set.set_img_url
            }).sort(function(a, b){return 0.5 - Math.random()})
        },

        headers() {

            return [
                {
                    value: 'img',
                    extractor(part) {
                        return `<img style="width: 47px;" src="${part.img}"/>`
                    },
                    style: {
                        paddingRight: '0'
                    },
                    width: '64px',
                    isClickable: false
                },
                {
                    text: 'Name',
                    value: 'name'
                },
                {
                    text: 'Quantity',
                    value: 'quantity',
                    right: true,
                    width: '1px'
                },
                {
                    text: 'Color',
                    value: 'color',
                    extractor(part) {
                        return part.color.name
                    },
                    width: '150px'
                },
            ]

        },

    },
    
}
</script>

<style scoped>
.banner {
    width: 100%;
    height: 275px;
    background-color: #F1F3F4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.set {
    border: 1px #eeeeee solid;
    flex-grow: 1;
    width: 100%;
    cursor: pointer;
}
.set-title {
    text-align: center;
}
.set-logo img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}
</style>
