<template lang="pug">
    t-dialog(
        :value="value"
        :closable="!loading"
        @update:value="close")
        t-card(
            :style="{ 'pointer-events': loading ? 'none' : 'unset' }"
        )
            t-card-title {{ $t('dialogs.addPart.add') }} {{ form.part.name }}
            t-card-content
                .container(v-if="!loading && !result.results")
                    span Quantity: {{ form.part.quantity }}
                    .spacer
                    .container
                        t-btn(icon @click="removeQuantity" tooltip="Remove 1")
                            t-icon remove
                        t-btn(icon @click="addQuantity" tooltip="Add 1")
                            t-icon add
                p(v-for="(result, index) in result.results" :key="index") in box {{ result.set_num }}: {{ result.quantity }}
                p(v-if="result.extra") extra: {{ result.extra }}
            t-card-buttons(v-if="!loading && !result.results")
                t-btn(@click="close" outline) Exit
                t-btn(@click="add") Add
            t-card-buttons(v-else-if="result.results")
                t-btn(@click="close") Exit
</template>

<script>
export default {
    
    props: ['value', 'part', 'set_num'],

    data() {
        return {
            form: {
                part: this.part
            },
            loading: false,
            result: {}
        }
    },

    methods: {

        async add() {
            console.log(this.form.part)
            this.loading = true
            await this.$store.dispatch('sets/ADD_PART_TO_SET', {
                set_nums: [this.set_num],
                element_id: "" + this.form.part.id,
                quantity: this.form.part.quantity
            }).then(({data}) => {
                this.result = data
                this.$store.dispatch('sets/GET_NEEDED_PARTS', this.set_num)
            })
            this.loading = false
        },
        
        close() {
            this.$emit('update:value', false)
        },

        addQuantity() {
            this.form.part.quantity++
        },

        removeQuantity() {
            if (this.form.part.quantity > 1) this.form.part.quantity--
        },

    }

}
</script>