<template lang="pug">
    t-dialog(
        :value="value"
        :closable="true"
        @update:value="close")
        t-card
            t-card-title {{ $t('title') }}
            t-card-content
                p UI v2.0.1
                p API v2.0 -> v3.0 (in development)
                br
                p Made by TrikThom
            t-card-buttons
                t-btn(@click="save") Exit
</template>

<script>
export default {
    
    props: ['value'],

    methods: {

        save() {
            console.log('save')
            this.close()
        },
        
        close() {
            this.$emit('update:value', false)
        }

    }

}
</script>
