<template lang="pug">
    t-dialog(
        :value="value"
        @update:value="close")
        t-card
            t-card-title {{ $t('common.settings') }}
            t-card-content
                span(@click="changeLocale") Change Language
                t-checkbox(
                    :value.sync="termsAndServices"
                    label="I accept the Terms and Services")
            t-card-buttons
                t-btn(@click="save") Save
</template>

<script>
export default {
    
    props: ['value'],

    data() {
        return {
            termsAndServices: true
        }
    },

    methods: {

        save() {
            console.log('save')
            this.close()
        },
        
        close() {
            this.$emit('update:value', false)
        },

        switchLanguage (localeCode) {
            document.cookie = `locale=${localeCode}`;
            this.$i18n.locale = localeCode
        },

        changeLocale() {
            if(this.$i18n.locale == 'nl') this.switchLanguage('en')
            else if(this.$i18n.locale == 'en') this.switchLanguage('nl')
        }

    }

}
</script>
